# Mac OS
.DS_Store
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
tf.sh
bldr.env
!test/assets/test.tfvars

# local secrets

*.pem
secrets.tf

# test kitchen
.kitchen
tf_output.yml
